<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMarysSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="connSDS" connectionString='Data Source=ANDREW-MAC\SQLEXPRESS;Initial Catalog=DMarysDB;Integrated Security=True' providerName="System.Data.SqlClient" />
   </connectionStrings>
  
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />

      <customErrors defaultRedirect="GenericError.html" mode="RemoteOnly">
        <error statusCode="500" redirect="InternalError.html"/>
      </customErrors>      
      
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="adriandrew@hotmail.com">
                <network host="smtp.live.com" password="andrew1991" port="587"
                    userName="adriandrew@hotmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
  
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <DMarysSoft.Properties.Settings>
            <setting name="DMarysSoft_localhost_Servicio" serializeAs="String">
                <value>http://localhost:2653/Servicio.asmx</value>
            </setting>
        </DMarysSoft.Properties.Settings>
    </applicationSettings>
</configuration>


