<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DMarysDBEntities" connectionString="metadata=res://*/ModeloADO.Model.csdl|res://*/ModeloADO.Model.ssdl|res://*/ModeloADO.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDREW-MAC\SQLEXPRESS;initial catalog=DMarysDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>